---
title: Au rendez-vous des amis
published: true
type: [bar]
metro: [Abbesses]
adresse: 23 rue Gabrielle
telephone: 01 46 06 01 60
horaire: Tous les jours de 8h30 à 2h
image: http://www.visitmontmartre.fr/img/boire-un-verre/rendez-vous-des-amis/01.jpg
layout: layout-lieu
---

<p>
Voici l’un des rares rades authentiques de Montmartre, pourtant à deux pas de la place du Tertre, le temple de l’attrape-touriste. Assis en terrasse autour de petites tables en fer forgé et mosaïques colorées, dans une petite rue pavée, on se croirait dans un village. La carte est fournie en crus AOC à prix doux (2,70 euros le verre), que l’on peut commander avec une planche de fromages ou de charcuterie. On peut aussi refaire le monde accoudé au zinc avec les habitués du coin, des étudiants fauchés et des touristes égarés, dans une ambiance franchouillarde bruyante. En hiver, la salle du fond de ce rade biscornu propose d’avenants canapés mais l’endroit est plein à craquer dès l’happy hour (18h-20h), alors allez-y tôt ! (timout)
</p>