---
title: Le soleil de la butte
published: true
type: [cafe, resto]
metro: [Chateau Rouge]
adresse: 32 rue Muller
telephone: 01 46 06 18 24
horaire: Du lundi au jeudi de 9h à 2h. Vendredi et samedi jusqu’à 6h
image: http://unpetitpoissurdix.files.wordpress.com/2013/08/dsc02428.jpg
layout: layout-lieu
---

<p>
Le Soleil de la Butte connaît deux visages : le jour, ce restaurant pittoresque de la butte Montmartre attire les touristes comme le miel attire les abeilles grâce à sa terrasse ensoleillée au pied des escaliers, à l’abri de la pollution et des voitures. La nuit, il attire les noctambules du quartier en quête d’un dernier verre. Le week-end, les lieux sont ouverts jusqu’à l’aube. La carte est celle d’une brasserie parisienne classique avec des prix abordables, sans être exceptionnelle. mais on peut y déjeuner dans un cadre agréable et à toute heure (les cuisines sont ouvertes non-stop jusqu’à 1h du matin). Sa salle en sous-sol est louée à des musiciens et des petites troupes de théâtre ou d’humoristes pendant la semaine. Le week-end à partir de 22h et jusqu'à l'aube, elle devient l’antre des DJ’s qui y organisent leurs soirées. Le son est logiquement très inégal (tout dépend de qui se trouve derrière les platines), mais on vient volontiers y jeter une oreille, s'y jeter un dernier godet avant de rentrer se coucher.
</p>