---
title: Café du Commerce
published: true
type: [cafe, resto]
metro: [Barbès, Chateau Rouge]
adresse: 13 rue de Clignancourt
telephone: 01 46 06 25 63
horaire: Tous les jours de 8h à 1h, sauf le dimanche jusqu'à minuit
image: http://media.timeout.com/images/resizeBestFit/100605053/660/370/image.jpg
layout: layout-lieu
---

<p>
Le Café du Commerce a gardé son nom de bar PMU, avant sa métamorphose en 2011. Quelques cloisons abattues, des murs massifs en pierre de taille faussement décrépits, et voici cet espace aux dimensions bluffantes, où trône un joli comptoir de caractère. Au fond de la pièce, des banquettes confortables, dont une joliment arrondie. Aux murs, un joli décor de fresques naïves de Montmartre et du Moulin Rouge d'origine, des néons roses qui donnent bonne mine en soirée, et quelques gadgets vintage comme un encombrant poste de radio TSF et un téléphone à l'ancienne. 
</p>

<p>
La journée, les habitués prennent leur temps pour boire leur petit noir, feuilleter le journal, vieux comme jeunes, bobos comme prolos. La formule du midi est abordable, variée et très bonne, un vrai bon plan. La carte classique, avec salades et burgers à prix plancher (10 €) est très appréciable aussi. Dès les premiers rayons de soleil, on profite de la lumière derrière les grandes baies vitrées, et de la terrasse surélevée sur le trottoir. Les prix sont raisonnables même s'ils restent supérieurs à ceux pratiqués dans le quartier (demi 3 €, cocktails 7 €). Le vin est un peu cher (4,60 € le verre), préférez un pichet de 50 cl à 17 €.
</p>

<p>
Le soir, le bar est pris d'assaut pendant l'happy hour de 18h à 22h (pinte à partir de 3,60 €, cocktails à 5,60 €), puis jusqu'à la fermeture. La formule pinte de Kro et frites à 7 € est un gros succès, idem pour les assiettes de tapas à 9 € (samossa, bric de chèvre, polenta au brocoli et croustillant de courgettes). Idem le week-end : difficile de trouver une place assise après 21h, lorsque des DJ poussent le son et font monter la température. Le jeudi de petits groupes viennent y jouer en live, le dimanche c'est soirée brésilienne. Vous êtes prévenus ! (timeout)
</p>

<a href="https://www.google.com/maps/place/13+rue+de+clignancourt/"><img src="http://maps.googleapis.com/maps/api/staticmap?scale=2&size=320x180&maptype=roadmap&sensor=false&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:%7C13+rue+de+clignancourt" alt="Google Map of 13 rue de clignancourt"></a>