---
title: Francis Labutte
published: true
type: [cafe, bar]
metro: [Lamarck-Caulincourt]
adresse: 122 rue Caulaincourt
telephone: 01 42 23 58 26
horaire: Du lundi au samedi de 08h à 02h
image: http://tribioon.com/montmartre/files/2011/05/francis-la-butte-restaurant-cafe-terrasse-soleil-montmartre-paris-femme-rouge.jpg
layout: layout-lieu
---

<p>
Francis Labutte bénéficie de la proximité de la fameuse école de la Femis (école des métiers de l'image et du son), du coup, beaucoup d'étudiants et donc des prix peu élevés : plats du jour à 8,50 € et quiches du jour à 7 € accompagnés de frites/salades, des assiettes très bien remplies mais des plats pas forcément très originaux, à la bonne franquette quoi ! Desserts plus élevés par contre, par rapport au prix des plats : 4,20 € surtout qu'il s'agit de bon gros classiques (moelleux choco, crumble et 4,20 pour un fromage blanc avec un goutte de miel... ). Clientèle donc d'étudiants mais aussi de people ! On en voit régulièrement dans ce ptit bar-resto de quartier ultra bobo où on a l'impression que les serveurs(ses) sont surtout castés pour leur look trashy/déjanté (souvent des étudiants étrangers qui payent leurs études). Une équipe souriante et efficace qui restent pour autant bien rodée par la gérante. Le cadre est ultra cool et très bariolé, la terrasse déborde largement sur le vaste trottoir qui mène, par un escalier interminable, à Montmartre, dommage qu'elle ne profite pas pleinement du soleil le midi et qu'on ne puisse pas y fumer l'hiver, quand elle est couverte et chauffée. Typiquement bar de quartier et unique dans ce coin du 18e, Francis Labutte a aussi fidélisé une clientèle de quartier, on s'y retrouve avec plaisir le soir pour boire l'apéro après le boulo. (paris bouge)
</p>