---
title: La Colline d'Asie
published: true
type: [resto]
metro: [Barbès, Anvers]
adresse: 21 Rue André del Sarte
telephone: 01 55 79 16 82
horaire: Du lundi au Samedi de 11h à 19h
image: https://irs2.4sqi.net/img/general/width960 YKMDVCNKWLS4AD3VZKMYJDBWFWIZZNIRVPAFA3LPZU442JAF.jpg
layout: layout-lieu
---

<p>
Le restaurant vietnamien “La Colline d’Asie” fait un Bo-bun que tous les pros de Paris essayent d’égaler. Elle au fourneau, lui à la caisse, le couple qui tient la baraque vaut le détour. Avec sa devanture jaune, son cadre typique et kitch, ses peintures en reliefs qui dessinent des collines d’Asie, vous ne regretterez pas d’être venu. Attention, chèque et CB ne sont pas acceptés. (le bonbon)
</p>