---
title: La Fourmi
published: true
type: [bar]
metro: [Pigalle]
adresse: 74 rue des Martyrs
telephone: 01 42 64 70 35‎
horaire: Du lundi au samedi de 8h30 à 2h, dimanche 8h à 16h
image: http://media.timeout.com/images/resizeBestFit/100004593/660/370/image.jpg
layout: layout-lieu
---

<p>
En été, les cigalons de Pigalle viennent chanter fleurette aux filles à franges et robe légère sur la minuscule terrasse de la Fourmi, qui porte son nom en clin d'oeil à la salle de concert voisine, la Cigale. Lorsque la bise arrive, les bobos arty qui peuplent l'endroit s’installent derrière de larges baies vitrées, sous le haut plafond d’une grande salle à la déco post-industrielle. Avec son bar en boiseries à l’ancienne, son lustre impressionnant conçu en bouteilles de verre et son vaste espace, l'endroit est chaleureux. On y sirote des cocktails, des verres de vin ou des demis à prix raisonnable (2,8 € la blonde), si l'on compare avec le Café de la Cigale ou le Petit Trianon, non loin sur le boulevard. Le coin est très prisé par les Parisiens qui assistent à des concerts à la Cigale, la Boule Noire, au Trianon ou au Divan du Monde. Attendez-vous donc à jouer des coudes pour atteindre le zinc et attirer l’attention de serveurs sympas, mais débordés. Si par miracle vous obtenez une table, vous pouvez accompagner votre verre de tartines, salades, planches de charcuterie auvergnate ou quelques plats à la carte. (timout)
</p>