---
title: Le Milord
published: true
type: [bar]
metro: [Abbesses]
adresse: 69 rue Lepic
telephone: 01 42 57 50 73
horaire: Mardi au Samedi de 18h à 2h et le dimanche de 12h à 22h30
image: http://www.les-horaires.fr/images/commerces/491982/1367777302449.jpeg
layout: layout-lieu
---

<p>
Eh bien moi j'ai bien aimé ce petit bar à vin perdu dans les rues de montmartre. La terrasse n'est même pas blindée, des petites couvertures sont à dispo pour les frileuses comme moi.
</p>

<p>
La carte des vins est fournie avec du choix et des gammes de prix différentes. Dans l'assiette, on ne peut pas parler de cuisine (pour le soir hein) mais plus d'assemblage de produits de qualité. On a dégusté des tartines, des œufs cocotte... Il y a également des tapas pour grignoter (type tapenade ou sardines). Les prix sont bas, genre 8 euros le "plat" et 3,5 la tapas.
</p>

<p>
Rien d'exceptionnel donc mais une atmosphère sympa, et une 4ème étoile gagnée par le service adorable. Rafraîchissant!
</p>

<p>
Si vous êtes dans le coin, c'est idéal pour un apéro en terrasse en toute simplicité. (yelp)
</p>