---
title: Le Rosie
published: true
type: [bar]
metro: [Chateau Rouge, Anvers]
adresse: 3 rue Muller
telephone: 09 51 91 32 87
horaire: Tous les jours de 18h à 2h
image: http://media.timeout.com/images/resizeBestFit/100760771/660/370/image.jpg
layout: layout-lieu
---

<p>
Ce bar discret niché dans une petite rue de Montmartre, ouvert il y a quelques mois, est déjà la seconde maison de certains habitués du quartier. Et pour cause ! Il ressemble à s'y méprendre à un appartement de fille, pimpant, joliment aménagé avec des fauteuils et coussins imprimés et colorés, des tables basses et des lumières tamisées. Tous les meubles sont dépareillés mais assortis, dans un esprit vintage imaginé par Laura Léonard, architecte d'intérieur-scénographe. Une alcôve avec des banquettes a été aménagée pour les petits groupes. Commodes, bibelots, miroirs, livres et autres détails donnent vraiment l'impression d'être invité chez tante Rosie, lorsqu'elle avait 20 ans. Même les tables et des chaises en bon vieux formica sont là, celles dont chaque ménagère rêvait de se débarrasser pour passer à la modernité, et qui reviennent en force dans les lieux branchés. Un magnifique comptoir en bois clair, éclairé de lustres design, est visible depuis la rue.
</p>

<p>
On apprécie cet espace confortable et intimiste, les serveurs jeunes et décontractés. Tous sont des potes de Nicolas Ullmann, activiste des nuits parisiennes qui a eu l'idée d'ouvrir ce lieu convivial juste en face de la Maison Muller, où il organise barbecues, fêtes, projections de courts métrages, vide-greniers, mini-concerts... Le Rosie vient s'ajouter aux bars animés de ce coin du 18e : Le Blue, le Soleil de la Butte, le Clair de Lune, la Chope... mais se distingue de ces lieux agités à la clientèle bigarrée par un sol en beau plancher qui n'est pas collant de bière, une ambiance zen et un fond musical doux. Les verres sont légèrement plus chers mais restent raisonnables (3 € la bière) et les vins sont de qualité (à partir de 4 €), tout comme des cocktails à la demande (à 7 €). Le bar tender a beaucoup d'imagination et s'inspire de vos goûts en alcools ou encore des fruits de saison. Le Rosie propose aussi d'appétissantes planchettes comme l'assiette mixte charcuterie/fromage à 14 euros, pas gargantuesque mais accompagnée de pois chiches et pilons de poulet. Le week-end, un DJ vient poser ses platines sur le buffet au fond de la salle, on a alors un peu l'impression d'être dans une boum d'appart.  (timeout)
</p>