---
title: Soul Kitchen
published: true
type: [café]
metro: [Lamarck-Caulaincourt]
adresse: 33 rue Lamarck
telephone: 01 71 37 99 95
horaire: Du mardi au vendredi, de 8h à 19h. Le samedi et le dimanche, de 10h à 19h. Fermé le lundi
image: http://www.parisbouge.com/img/cache/35/19/351910545_800x533_cr.jpg
layout: layout-lieu
---

<p>
C’est une petite cantine accrochée aux escaliers de la butte, une buvette couleur café, habitée par trois drôles de dames, inspirées, coquettes et gourmandes. Le genre d’endroit que l’on aimerait avoir en bas de chez soi. Pour venir boire un latte crémeux le matin avec les petits vieux du quartier, et lire les premières nouvelles de la journée par-dessus leurs épaules fatiguées. Pour manger le midi en douce compagnie, se régaler des délicieuses recettes maison, réinventées chaque jour, fricotées avec des produits bio ou locaux. Pour passer l’après-midi au chaud, entre un ordinateur et une belle pâtisserie, ou simplement pour boire un petit noir de classe Marzocco avant de filer ailleurs.
</p>

<p>
Il y a une cage à oiseaux qui laisse s’échapper des dizaines de papillons en papier, une vieille machine à écrire, une grande baie vitrée, des cagettes pleines de victuailles, des jolis meubles patinés et une large ardoise qui promet bien des plaisirs. Ce midi-là, quelques croûtons se baignaient joyeusement dans un réconfortant velouté de potimarron, saupoudré d’oignons frits et accompagné d’une tartine de rillettes d’oie. En face, une pichade « comme chez mimi » (une épaisse pissaladière à la tomate, généreusement arrosée de pistou) se laissait déguster avec joie. Puis deux bols remplis d’une belle salade de pâtes et de couleurs faisaient leur entrée, avant de laisser la place aux desserts (Tarte tatin et fromage blanc à la confiture de mirabelle). Le tout dans une pimpante dinette, et pour 11,50 euros. Il fallait être fou pour ne pas tomber sous le charme.  (timeout)
</p>